html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #eeeeee;
}

.header {
    background: #eeeeee;
}

.header .container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 60%;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
    font-size: 24px;
    color: maroon;
    display: flex;
    align-items: center;
    padding-right: 10px;
    border-bottom: 2px solid black;
}

.line {
    width: 80%;
    margin-top: 10px;
    border: 1px solid maroon;
}

nav {
    display: flex;
    border-bottom: 2px solid black;
}

nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: black;
    text-decoration: none;
    margin-left: 16px;
    text-align: center;
}

a:hover {
    color: gray;
}

.main {
    background:rgb(233, 233, 233);
}

.block {
    display: flex;
    justify-content: center;
    height: 500px;
}

.block.one, .block.three {
    background: #eeeeee;
}

.block.two, .block-four {
    background: #dddddd;
}

.hero {
    margin: 0;
    width: 60%;
    display: flex;
}

.left, .right {
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    display: flex;
}

.block.one .hero .left {
    color: white;
    flex-direction: column;
    justify-content: center;
}

.block.one .hero .right {
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
}

.secondary-text {
    color: darkslategray;
}

.block.one .hero .left .main-text {
    font-size: 92px;
    color: black;
    margin-bottom: 10px;
}

.block.one .hero .left .secondary-text {
    font-size: 18px;
    width: 60%;
}

.img-placeholder {
    background: gray;
}

.block.one .hero .right .img-placeholder {
    width: 500px;
    height: 300px;
    box-shadow: 20px 20px 50px grey;
}

.block.two .hero .left, .block.three .hero .right {
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.block.two .hero .left .card, .block.three .hero .right .card {
    width: 40%;
    height: 30%;
}

.block.two .hero .left .card .img-placeholder, .block.three .hero .right .card .img-placeholder {
    width: 90%;
    height: 80%;
}

.block.two .hero .left .card .img-placeholder {
    box-shadow: -20px 20px 40px grey;
}

.block.three .hero .right .card .img-placeholder {
    box-shadow: 20px 20px 40px grey;
}

.block.two .hero .right, .block.three .hero .left {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.title {
    font-size: 36px;
    padding-bottom: 8px;
    border-bottom: 2px solid maroon;
}

.title a {
    text-decoration: none;
    color: black;
}

.title a:hover {
    color: gray;
}

.block.two .hero .right .secondary-text, .block.three .hero .left .secondary-text {
    font-size: 18px;
    width: 80%;
}


.img-subtext {
    font-style: italic;
}

.img-supertext {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(167, 167, 167);
}

.quote {
    font-style: italic;
    color: gray;
    font-size: 28px;
    width: 80%;
}

.block.four .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.socials {
    display: flex;
    gap: 24px;
}

.socials-placeholder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


form {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

#email {
    width: 80%;
    height: 50px;
    border: 0px;
}

#submit-email {
    width: 20%;
    background: maroon;
    color: #eeeeee;
    border: 0px;
    font-size: 18px;
}

#submit-email:hover {
    background: rgb(128, 80, 0);
}

.footer {
    background: #dddddd;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 60%;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.block.two .hero .left .img-placeholder img, .block.three .hero .right .img-placeholder img {
    height: 100%;
    width: 100%;
}

.block.three .hero .right .card {
    margin-bottom: 10px;
}

.block.four img {
    width: 100%;
    height: 100%;
}